In [1]:
# Import dependencies
import pandas as pd
import unirest
import pprint, json
import time, os
from config import api_key

In [2]:
# Create a DataFrame with all the Players IDs
player = pd.DataFrame({"playerId":[x for x in range(1, 2241, 1)]})
player.head()

   playerId
0         1
1         2
2         3
3         4
4         5

In [3]:
# Add new fields to DF.
player['firstName'] = None 
player['lastName'] = None 
player['fullname'] = None 
player['affiliation'] = '' 
player['affiliation_city'] = '' 
player['affiliation_country'] = '' 
player['collegeName'] = ''
player['country'] = '' 
player['dateOfBirth'] = None
player['heightInMeters'] = None 
player['startNba'] = None 
player['teamId'] = None 
player['weightInKilograms'] = None
player['yearsPro'] = None

count = 0
url = "https://api-nba-v1.p.rapidapi.com/players/playerId/"
for index, row in player.iterrows(): 
    # Sleep for one second between each request.
    time.sleep(1)
    count += 1;
    if count >= 1:
        break
    
    curr_url = f"{url}{row['playerId']}" 

    # Execute the current request
    response = unirest.get(curr_url,
      headers={
        "X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com",
        "X-RapidAPI-Key": api_key,
      }
    )
    r = response.body
    affiliation  = r['api']['players'][0]['affiliation'] 
    
    # Fill new fields
    player.loc[index, 'firstName'] =  r['api']['players'][0]['firstName'] 
    player.loc[index, 'lastName'] =  r['api']['players'][0]['lastName'] 
    player.loc[index, 'fullname'] = r['api']['players'][0]['firstName'] + ' ' + r['api']['players'][0]['lastName']
    player.loc[index, 'affiliation'] = affiliation
    player.loc[index, 'collegeName'] = r['api']['players'][0]['collegeName']
    player.loc[index, 'country'] =   r['api']['players'][0]['country']
    player.loc[index, 'dateOfBirth'] = r['api']['players'][0]['dateOfBirth']
    player.loc[index, 'heightInMeters'] =  r['api']['players'][0]['heightInMeters'] 
    player.loc[index, 'startNba'] =  r['api']['players'][0]['startNba'] 
    player.loc[index, 'teamId'] =  r['api']['players'][0]['teamId'] 
    player.loc[index, 'weightInKilograms'] = r['api']['players'][0]['weightInKilograms'] 
    player.loc[index, 'yearsPro'] =  r['api']['players'][0]['yearsPro']

    # Split the affiliation if is filled 
    if len(affiliation.split("/")) == 2:
        player.loc[index, 'affiliation_city'] = affiliation.split("/")[0] 
        player.loc[index, 'affiliation_country'] = affiliation.split("/")[1]   

   
player.head()

,playerId,firstName,lastName,fullname,affiliation,affiliation_city,affiliation_country,collegeName,country,dateOfBirth,heightInMeters,startNba,teamId,weightInKilograms,yearsPro
0,1,Alex,Abrines,Alex Abrines,Spain/Spain,Spain,Spain,,Spain,1993-08-01,,2016,None,,0
1,2,Quincy,Acy,Quincy Acy,Baylor/USA,Baylor,USA,Baylor,USA,1990-10-06,2.01,2012,28,108.9,6
2,3,Jordan,Adams,Jordan Adams,,,,UCLA,United States,1994-07-08,1.96,2014,19,94.8,1
3,4,Steven,Adams,Steven Adams,Pittsburgh/New Zealand,Pittsburgh,New Zealand,Pittsburgh,New Zealand,1993-07-20,2.13,2013,25,120.2,6
4,5,Arron,Afflalo,Arron Afflalo,UCLA/USA,UCLA,USA,UCLA,USA,1985-10-15,1.96,2007,26,95.3,11

In [4]:
# Assign the players' file to a variable 
players_file = os.path.join(".", "Resources", "players.csv")
# player.to_csv(players_file, encoding="utf-8", index=False)

In [5]:
perplayerstatistics.csv